@charset "utf-8";

[data-redeyes='toxic'] {
  color: var(--redeyes-var-toxic) !important;
}

[data-redeyes='friendly'] {
  color: var(--redeyes-var-friendly) !important;
}

[data-redeyes='conflict'] {
  text-decoration: orange underline dotted !important;
  cursor: help;
}
