@charset "utf-8";

body:not(.darkmode) {
    --redeyes-var-phobic: crimson;
    --redeyes-var-friendly: green;
}

body.darkmode {
    --redeyes-var-phobic: tomato;
    --redeyes-var-friendly: chartreuse;
}

[data-redeyes=phobic],
.redeyes-phobic {
    color: var(--redeyes-var-phobic) !important;
    font-family: 'comic sans ms', fantasy;
}

[data-redeyes=friendly],
.redeyes-friendly {
    color: var(--redeyes-var-friendly) !important;
}

